# 项目基础设置
ENV=development
LOG_LEVEL=DEBUG

# 数据库相关配置
SQLALCHEMY_DATABASE_URI=postgresql+asyncpg://admin:admin123@localhost:5433/mini_manus

# Redis 相关配置
REDIS_HOST=localhost
REDIS_PORT=6479
REDIS_DB=0
REDIS_PASSWORD=redis123

# 阿里云 OSS 相关配置
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_REGION_ID=cn-beijing
OSS_ENDPOINT=oss-cn-beijing.aliyuncs.com
OSS_BUCKET="mini-manus"

# 沙箱配置
SANDBOX_ADDRESS=
SANDBOX_IMAGE=mini-manus-sandbox
SANDBOX_NAME_PREFIX=mini-manus-sandbox
SANDBOX_TTL_MINUTES=60
SANDBOX_NETWORK=mini-manus-network
SANDBOX_CHROME_ARGS=
SANDBOX_HTTPS_PROXY=
SANDBOX_HTTP_PROXY=
SANDBOX_NO_PROXY=